@model IEnumerable<BookstoreApp.Models.Review>

@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron" style="text-align:center">
    

    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("User")))
    {
        @if (User.IsInRole("Admin"))
        {
            <h1>All reviews</h1>
        }
        else
        {
            <h1>Your reviews</h1>
        }

        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

</div>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin"))
            {
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.AppUser == ViewBag.userId || User.IsInRole("Admin") )
    {
        <tr>
            @if (User.IsInRole("Admin") )
            {
            <td>
                @Html.DisplayFor(modelItem => item.AppUser)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId"> @Html.DisplayFor(modelItem => item.Book.Title) </a>
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || (User.IsInRole("User") && item.AppUser == ViewBag.userId)))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || (User.IsInRole("User") && item.AppUser == ViewBag.userId)))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
}
    </tbody>
</table>
