@model BookstoreApp.ViewModels.BookGenreAuthorViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form aso-asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <select asp-for="BookAuthor" asp-items="Model.Authors">
            <option value="">All</option>
        </select>
        Title: <input type= "text" asp-for="SearchString"/>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].FrontPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].YearPublished)
            </th>     
            <th>
                @Html.DisplayNameFor(model => model.Books[0].bookGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Reviews)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @if (item.FrontPage != null)
                {
                    <img src="~/BookCOverPages/@item.FrontPage"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
            @if (item.AuthorId != null)
            {
            <td>
               <a asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorId"> @Html.DisplayFor(modelItem => item.Authors.FullName) </a>
            </td>
            }
           
            <td>
                @Html.DisplayFor(modelItem => item.YearPublished)
            </td>
            <td>
            @foreach (var genre in item.bookGenres)
            {
               <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId"> @genre.Genre.GenreName </a> <br/>
            }
            </td>
            <td>
            @if(item.Reviews != null){
               float sr = 0;
               var i  = 0;
               @foreach (var review in item.Reviews){
                   sr += review.Rating.Value;
                   i++;                  
               }
               if (i!=0){
                    sr = sr/i;
                    @Html.DisplayFor(modelItem => sr)
               }              
            }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
