@model BookstoreApp.ViewModels.BookGenreAuthorViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron jumbotron-fluid" style="text-align:center">
    <div class="container">
         

        <div class="row">
            <h1>Our Collection</h1>
        </div>

    
        

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="row">     
                <p>
                    <a asp-action="Create" class="btn btn-warning">Create New</a>
                </p>
            </div>
        }

        <div class="row">
            <span>
                Filter by:
            </span>
        </div>

        <form aso-asp-controller="Books" asp-action="Index" method="get" >
            <div class="row" style="margin-bottom:30px">
                    <div class="col">
                        <p> Genres:</p>

                        <select asp-for="BookGenre" asp-items="Model.Genres">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div class="col">
                        <p>Authors:</p>
                        <select asp-for="BookAuthor" asp-items="Model.Authors">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div class="col">
                        <p>Title:</p>
                        <input type= "text" asp-for="SearchString"/>     
                    </div>  
            </div>
        
            <div class="row" style="margin-bottom:30px">
                <input class="btn btn-outline-primary" type="submit" value="Filter" />
            </div>

        </form>
    </div>
</div>

<div class="container-fluid">
    <div class = "row">
        @foreach (var item in Model.Books)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-6" style="margin-bottom:10px;">
                <div class="card-deck">
                    <div class="card" style="width: 18rem; text-align:center">
                        <div class = "card-img">
                            @if (item.FrontPage != null)
                            {
                                <img src="~@item.FrontPage" class="card-img-top" alt="..." height="200" asp-append-version="true">
                            }
                            else
                            {
                                <img src="~/Images/banner1.jpg" class="card-img-top" alt="..." height="200">
                            }
                        </div>

                        <div class="card-body">
                            <h5 class="card-title" style="height:100px; overflow:auto">@Html.DisplayFor(modelItem => item.Title)</h5>

                            @if (item.AuthorId != null)
                            {
                                <p class="card-text">
                                    <a asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorId"> @Html.DisplayFor(modelItem => item.Authors.FullName) </a>
                                </p>
                            }

                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.YearPublished)
                            </p>

                            @if (item.getReviewsCount != null)
                            {
                                <p class="card-text">Rating: @item.getReviewsAverage</p>
                            }
                            else
                            {
                                <p class="card-text"> No ratings left </p>
                            }

                        </div>

                        <ul class="list-group list-group-flush" style= "height:55px; overflow:auto">
                            <li class="list-group-item">
                                @foreach (var genre in item.bookGenres)
                                {
                                    <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId" class="btn btn-outline-primary"> @genre.Genre.GenreName </a>
                                }
                            </li>
                        </ul>

                   
                        <div class="card-footer">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>

                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
